---
  - name: Install PM2 globally as root
    community.general.npm:
      name: pm2
      global: yes
    become_user: "{{ pm2_user }}"

  - name: Generate and enable PM2 systemd service
    command: /usr/local/bin/pm2 startup systemd -u {{ pm2_user }} --hp /home/{{ pm2_user }}
    register: pm2_startup
    changed_when: "'Init System found: systemd' in pm2_startup.stdout"
    become_user: "{{ pm2_user }}"

  - name: Save current PM2 process list for autoâ€respawn
    command: /usr/local/bin/pm2 save
    when: pm2_startup is succeeded
    become_user: "{{ pm2_user }}"